*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;

}

.pr-pl{
    padding: 0 5% ;
}
span{
	color: crimson;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	font-weight: 700;
}

a{
	text-decoration: none;
	cursor: pointer;
	&:active,
	&:hover,
    &:focus {
		outline: none;
	}
}

input,
textarea:focus {
	outline: none;
}

button:focus,button:hover {
	cursor: pointer;
	outline: none;
}
button{
	border:none;
	border-radius: 50px;
}

ol,
ul {
	list-style: none;
}

li {
	list-style: none;
}
img {
	max-width: 100%;
	border: none; 
	object-fit: cover;
}

button,
input {
	line-height: normal;
}