@font-face {
    font-family: "poping_light";
    src: url(../font/poping/Poppins-Light.ttf);
  }
  @font-face {
    font-family: "poping_Bold";
    src: url(../font/poping/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: "poping_semibold";
    src: url(../font/poping/Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: "poping_regular";
    src: url(../font/poping/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: "poping_meduim";
    src: url(../font/poping/Poppins-Medium.ttf);
  }

  h1{
    font-family: 'poping_Bold';
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
  }
  h2{
    font-family: 'poping_Bold';
    font-size: 45px;
    color: white;
    text-align: center;
    padding-bottom: 40px;
  }
  h3{
    font-family: "poping_meduim";
    font-size: 20px;
  }
  h4{
    font-family: "poping_meduim";
    font-size: 17px;
  }
  h5{
    font-family: "poping_meduim";
    font-weight: 900;
    font-style: normal;
  }
  p{
    font-family: "poping_regular";
    font-size: 17px;
  }
  a,button{
    font-family: "poping_light";
  }
  @media screen and (max-width: 560px){
    p{
        font-size: 14px;
        max-width: 100% !important;

    }
}