* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.pr-pl {
  padding: 0 5%;
}

span {
  color: black;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: 700;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:active, a:hover, a:focus {
  outline: none;
}

input,
textarea:focus {
  outline: none;
}

button:focus, button:hover {
  cursor: pointer;
  outline: none;
}

button {
  border: none;
  border-radius: 50px;
}

ol,
ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border: none;
}

button,
input {
  line-height: normal;
}

@font-face {
  font-family: "poping_light";
  src: url(../font/poping/Poppins-Light.ttf);
}

@font-face {
  font-family: "poping_Bold";
  src: url(../font/poping/Poppins-Bold.ttf);
}

@font-face {
  font-family: "poping_semibold";
  src: url(../font/poping/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: "poping_regular";
  src: url(../font/poping/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poping_meduim";
  src: url(../font/poping/Poppins-Medium.ttf);
}

h1 {
  font-family: 'poping_Bold';
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
}

h2 {
  font-family: "poping_semibold";
  font-size: 50px;
}

h3 {
  font-family: "poping_meduim";
  font-size: 20px;
}

h4 {
  font-family: "poping_meduim";
  font-size: 17px;
}

h5 {
  font-family: "poping_meduim";
  font-weight: 900;
  font-style: normal;
}

p {
  font-family: "poping_regular";
  font-size: 20px;
}

a, button {
  font-family: "poping_light";
}

h1 {
  color: red;
}

.reserve {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reserve .card-reserve {
  background-color: crimson;
  border-radius: 20px;
  border: 2px solid BLACK;
  padding: 3% 3%;
}

.reserve h1 {
  text-align: center;
  padding: 16px 0px 60px 0px;
  line-height: 50px;
  color: white;
}

.reserve .all-cars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* should learn this funtion */
  justify-items: center;
}

.reserve .all-cars .car {
  text-align: center;
  width: 180px;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: seashell;
}

.reserve .all-cars .car:hover {
  box-shadow: 0px 13px 29px 5px black;
}

.reserve .all-cars .car img {
  border-radius: 20px;
  object-fit: cover;
  max-width: 101%;
  position: relative;
  left: -1px;
  bottom: 1px;
}

.reserve .all-cars .car .centent-card-car h4 {
  color: black;
  padding-top: 20px;
}

.reserve .all-cars .car .centent-card-car button {
  margin: 15px 0px 20px 0px;
  padding: 4px 20px;
  background-color: crimson;
  color: white;
}

.reserve .all-cars .car .centent-card-car button:hover {
  background-color: black;
}

.fulltype {
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.fulltype h1 {
  padding-bottom: 40px;
}

.fulltype .por_fulltype {
  padding: 7px 30px;
  background-color: black;
  color: white;
  margin: 0px 20px 0px 20px;
}

.fulltype .por_fulltype:hover {
  background-color: white;
  color: black;
}

.jours {
  text-align: center;
  padding-bottom: 40px;
}

.jours h1 {
  padding-bottom: 40px;
}

.jours .chose_days {
  display: flex;
  justify-content: center;
}

.jours .chose_days input {
  width: 65px;
  height: 32px;
  background-color: white;
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
}

.jours .chose_days p {
  padding-right: 6px;
  font-weight: bold;
}

.validation_button {
  text-align: center;
}

.validation_button .btn-valide {
  background-color: black;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 8px 45px;
  font-size: 27px;
}

.validation_button .btn-valide:hover {
  background-color: white;
  color: black;
}

.teckit_achat {
  text-align: center;
  padding-top: 30px;
}

#zone_popup_off {
  position: relative;
  display: none;
}

#zone_popup_on {
  position: relative;
  display: flex;
}

.popup_card {
  position: absolute;
  border: 1px solid black;
  background-color: #00ff40;
  text-align: center;
  padding: 1% 1%;
  border-radius: 18px;
  left: 42%;
  bottom: 30px;
}

.popup_card h5 {
  padding-top: 5px;
  font-size: 20px;
}

.popup_card span {
  color: white;
}

.popup_card .popop_btn {
  padding: 6px 20px;
  margin-top: 15px;
}

.popup_card .accept_tecket {
  background-color: crimson;
  color: white;
}

.popup_card .refuse_tecket {
  background-color: #24f724;
  color: white;
}

.popup_card .accept_tecket:hover, .popup_card .refuse_tecket:hover {
  background-color: black;
  color: white;
}
