h1 {
  color: red;
}

.all-cars {
  display: flex;
}

.all-cars .car {
  border: 1px solid black;
  width: 180px;
  background-color: red;
  height: 269px;
}

button {
  margin-top: 50px;
}

.fulltype {
  padding-top: 50px;
}

.btn-valide {
  background-color: red;
  color: white;
  cursor: pointer;
}

.btn-valide:hover {
  background-color: black;
}
