    .hero{

        padding-top:180px;
        padding-bottom: 50px;
        h1{
            color: white;
            max-width: 80%;
            font-size: 45px;
        }
        button{
            padding: 8px 18px;
            border-radius: 20px;
            color: white;
            background-color: $primary_color_1;
            margin-top: 25px;
            &:hover{
                background-color: white;
                color: $primary_color_1;
            }
        }
        @media screen and (max-width: 1024px) {
            h1 {
                color: white;
                max-width: 100%;
                font-size: 45px;
            }
          }
          @media screen and (max-width: 560px) {
              padding-top: 90px;
            h1 {
                font-size: 22px;
            }
          }
    }
    .hero_contact,.hero_gallery,.hero_home,.hero_reserve{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero_contact{
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/background/contact_back.jpg);
    }
    .hero_reserve{
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/background/backreserve.png);
    }
    .hero_home{
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url(../img/background/home_back.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero_gallery{
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/background/gallery_back.jpg);
    }