/* buttton resereve navbar */
.reserve-btn-header{
    color: white;
    padding: 3px 25px;
    border-radius: 50px;
    background-color: $primary_color_1;
    &:hover{
        background-color: white;
        color: $primary_color_1;
    }
}

header{
    position: fixed;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    padding:10px;
    z-index: 100;

    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 0px 10% ;
        .logo{
            color: white;
            font-size: 20px;
            font-family: "poping_Bold";
        }
        ul{
            display: flex;
            padding-top: 13px;
            li{
                padding-left: 30px;
                color: white;
                font-weight: bold;
                font-style: normal;
                &:hover{
                    color: $primary_color_1;
                }
            }

        }
    }
    .burger-menu-zone{
        cursor: pointer;
        display: none;
        position: relative;
        .burger-menu{
            position: absolute;
            .lin-burger{
                padding: 3px 0px;
                background-color: white;
                margin-top: 3px;
                width: 40px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .burger-menu-zone{
            display: flex;
            .burger-menu{
                left: 80%;
                bottom: 19px;
            }
        }
            .navbar{
                ul{
                    display: flex;
                    display: none;
                }
            }
    }
}

    #nav-bar-mobile_on{
        //display: flex;
        position: relative;
        z-index: 200;
        left: 0px;
        transition: all 0.5s ease-in-out;
    }
    #nav-bar-mobile_off{
        //display: none;
        position: relative;
        z-index: 200;
        left: 2000px;
        transition: all 0.6s ease-in-out;
    }


.menu-mobile{
        position: fixed;
        width: 100%;
        text-align: center;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/backreserve.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;

        .first-link-mobile{
            margin-top: 100px;
        }
        li{
            z-index: 300;
            font-size: 30px;
            padding-bottom: 60px;
            color: white;
            font-weight: bold;
            font-style: normal;
            &:hover{
                color: $primary_color_1;
            }       
         }

         .burger-menu-mobile{
             cursor: pointer;
             text-align: -webkit-right;
             position: relative;
             right: 90px;
             bottom: -29px;
             .lin-burger{
                padding: 5px 0px;
                background-color: white;
                margin-top: 5px;
                width: 40px;
             }
             .lin-1{
                transform: rotate(50deg);
             }
             .lin-2{
                transform: rotate(-50deg);
                position: relative;
                bottom: 15px;
             }
         }
    }

    .zone-logo{
        max-width: 100Px;
    }