/* buttton resereve navbar */
.reserve-btn-header{
    color: white;
    padding: 3px 25px;
    border-radius: 50px;
    background-color: $primary_color_1;
    &:hover{
        background-color: white;
        color: $primary_color_1;
    }
}

header{
    position: fixed;
    width:100%;
    background-color: rgba(0,0,0,0.5);
    padding:10px;
    z-index: 300;

    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 0px 10% ;
        .logo{
            color: white;
            font-size: 20px;
            font-family: "poping_Bold";
        }
        ul{
            display: flex;
            padding-top: 13px;
            li{
                padding-left: 30px;
                color: white;
                font-weight: bold;
                font-style: normal;
                &:hover{
                    color: $primary_color_1;
                }
            }

        }
    }
    .burger-menu-zone{
        cursor: pointer;
        display: none;
        position: relative;
        top: 17px;
        .burger-menu{
            position: absolute;
            .lin-burger{
                padding: 5px 0px;
                background-color: white;
                width: 55px;
                margin-bottom: 6px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .burger-menu-zone{
            display: flex;
            z-index: 200;
            .burger-menu{
                left: 80%;
                bottom: 19px;
            }
        }
            .navbar{
                ul{
                    display: flex;
                    display: none;
                }
            }
    }
}

    #nav-bar-mobile_on{
        position: relative;
        z-index: 100;
        bottom: 0px;
        transition: all 0.5s ease-in-out;
    }
    #nav-bar-mobile_off{
        position: relative;
        bottom: 1000px;
        transition: all 0.6s ease-in-out;
    }


.menu-mobile{

    background-color: white;
        position: fixed;
        width: 100%;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .first-link-mobile{
            margin-top: 100px;
        }
        li{
            z-index: 300;
            font-size: 30px;
            padding-bottom: 60px;
            color: black;
            font-weight: bold;
            font-style: normal;
            &:hover{
                color: $primary_color_1;
            }       
         }

        }

    .zone-logo{
        max-width: 100Px;
    }

    .lin-burger{
        position: static;
    }


    #burger-menu-off{
        bottom: 32px !important;
    }
    #burger-menu-on{
        bottom: 19px ;
    }
#line1_on,#line3_on
{
    transition: 0.4s 0.4s;
    bottom: 0px;
    position: absolute;
}
#line1_on{
    transform: rotate(50deg);
}
#line3_on{
    transform: rotate(-410deg);
}
#line2_on{
    opacity: 0;
    transition: 0.4s 0.4s;
}

@media screen and (max-width: 560px){
    #burger-menu-on {
        bottom: 24px;
    }
    header .burger-menu-zone .burger-menu .lin-burger {
        padding: 4px 0px;
        background-color: white;
        width: 48px;
        margin-bottom: 5px;
    }
    #burger-menu-off{
        bottom: 38px !important;
    }
}
#header-zone-on{
    background-color: black;
}
#header-zone-off{
    background-color: rgba(0,0,0,0.5);
}
