.about_us{
    padding-top: 50px;
    padding-bottom: 150px;
    h2{
        color: black;
    }
    .about-us-zone{
        display: flex;
        justify-content: space-between;
        .img-about_us{
            width: 50%;
            img{
                width: 3901px;
                position: relative;
                left: 180px;
                top: 30px;
            }
        
        }

        .about_us_content{
            max-width: 50%;
            h4{
                font-size: 25px;
                border-bottom: 5px solid $primary_color_1;
                width: 154px;
                padding-bottom: 8px;
                margin-bottom: 26px;
            }
            p{
                padding-bottom: 25px;
            }
            .valeur-card{
                display: flex;
                justify-content: space-between;
                .card-valeur{
                    text-align: center;
                    width: 45%;
                    padding: 20px 20px;
                    border-radius: 25px;
                    box-shadow: 0px 1px 18px 1px black;
                    img{
                        width: 60px;
                    }
                    h5{
                        padding: 9px 0px ;
                    }
                    p{
                        font-size: 14px;
                    }
                }

            }


        }
    }


    @media screen and (max-width: 1440px) {
        .img-about_us{
            img{
                top: 70px !important;
            }
        
        }
    }
    @media screen and (max-width: 1024px) {
        .img-about_us{
            img{
                width: 3901px;
                left: 29px !important;
                top: 167px !important;   
           }  
        }
        .card-valeur{
            p{
                font-size: 13px !important;
            }
        }
    }
    @media screen and (max-width: 768px) {
        padding-bottom: 50px;
        .about-us-zone{
            display: block;
            .about_us_content{
                max-width: 100%;
            }
        }
        .img-about_us{
            width: 100% !important;
            position: relative !important;
            bottom: 200px !important; 
            img{
                left: 0px !important;
            }

        }
    }
    @media screen and (max-width: 560px) {
        .valeur-card{
            display: block !important;
            .card-valeur{
                width: 100% !important;
                margin-bottom: 40px;
            }

        }
    }

}


.our-servece{
    padding-top: 50px;
    padding-bottom: 100px;
    .zone_see_more{
        text-align: center;
        margin-top: 40px;
        button{
            padding: 8px 32px;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
    h2{
        color: black;
    }
    .zone_our_service
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .card-our-service{
            max-width: 47%;
            border: 1px solid black;
            padding: 75px 48px;            text-align: center;
            background-image: url(../img/background/unnamed111.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            .centent-our-service{
                box-shadow: 0px 1px 18px 1px black;
                background-color: white;
                color: black;
                padding: 18px 12px;  
                max-width: 400px;
                h3{
                    padding-bottom: 5px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
        .chaufeurs{
            background-image: url(../img/background/Formation-vtc.jpg);
        }
        .airport{
            background-image: url(../img/véhicule/airport.jpg);
        }
        .more_offers{
            background-image: url(../img/véhicule/locationkey.jpg);
        }

    }
    @media screen and (max-width: 1024px){
        .card-our-service{
            padding: 25px !important;
        }
    }
    @media screen and (max-width: 768px){
        #zone_our_service_2_on{
            margin-top: 25px;
            display: block;
        }
        .zone_our_service
        {
            display: block;
            text-align: -webkit-center;
        }
        .card-our-service{
            max-width: 100% !important;
            margin-bottom: 30px;


            .centent-our-service{
                margin-left: auto !important;
                margin-right: auto !important;
                background-color: white;
                color: black;
                padding:12px;
                h3{
                    padding-bottom: 5px;
                }
            }
        }
    }
    @media screen and (max-width: 560px){
 
        .card-our-service{
            max-width: 60% !important;
            margin-bottom: 30px;

            .centent-our-service{
                h3{
                    font-size: 14px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    }
}

.more_about_us{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/véhicule/véhicle44.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:30px 0px;
    margin-bottom: 100px;
   .content_our_client{

       .content_more_aboyt_us{
           padding-top: 30px;
           p{
               max-width: 60%;
               color: white;
               padding-top: 25px;
           }
           h3{
               color: white;
           }
           button{
               margin-top: 30px;
               padding: 9px 24px;
           }
       }

   } 

}
.text_our_place{
    text-align: center;
    padding: 30px;
    h2{
        color: black;
        padding-bottom: 20px;
    }
    p{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
.our_place{
    background-image: url(../img/maps/maps-aga.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
}
.footer_home{
    margin-top: 100px;
}

.why_us{
    background-image:url(../img/véhicule/location-voiture-pas-cher.jpg);
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/véhicule/location-voiture-pas-cher.jpg);

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 100px;
    padding: 30px 0px;
    .centent_why_us{
        display: flex;
        justify-content: space-between;
        padding-top: 60px;
        .valeur{
            display: flex;
            p{
                color:white;
                padding-left: 15px;
                margin: auto 0px;
            }
            img{
                width: 43px;
            }
        }

    }
    @media screen and (max-width: 768px){
        .centent_why_us{
            display: block !important;
        }
    }
    @media screen and (max-width: 768px){
        .centent_why_us{
            p{
                font-size: 14px;
            }
        }
    }
}

.card_why_us{
    // position: relative;
    // left: 35%;
    // top: 162px;
        .centent_card_why_us{
            position: absolute;
            left: 40%;
            // top: 160px;
        box-shadow: 0px 1px 18px 1px black;
        background-color: white;
        padding: 45px 0px 10px 0px;
        width: 20%;
        h2{
            color:black;
        }
    }
    @media screen and (max-width: 1024px){
        .centent_card_why_us{
            left: 35%;
            width: 30%;
        }
    }
    @media screen and (max-width: 560px){
        bottom: 180px;
        .centent_card_why_us{
            left: 25%;
            width: 50%;
            h2{
                font-size: 27px;
            }
        }
    }

}

#zone_our_service_2_off{
    margin-top: 25px;
    display: none;
}
#zone_our_service_2_on{
    margin-top: 25px;
    display: flex;
}
.maps{
    text-align: center;
    iframe {
        max-width: 100%;
    }
}
.zone_moto
{
    .mote_text{
        display: flex;
        justify-content: space-between;
        .img-moto{
            width: 60%;
            position: relative;
            right: 250px;
            bottom: 100px;
        }
        .centent-zone_moto{
            width: 40%;
            padding: 80px 50px;
            border: 1px solid black;
            height: 350px;
            box-shadow: black 0px 1px 18px 1px;

            h3{
                font-size: 25px;
                border-bottom: 5px solid crimson;
                width: 150px;
                padding-bottom: 8px;
                margin-bottom: 26px;
            }
        }
    }
    @media screen and (max-width: 1024px){
        .centent-zone_moto{
            padding: 31px 50px !important;
            height: 295px !important;
        }
        .img-moto{
            right: 150px !important;
            bottom: 60px !important;
        }
    }
    @media screen and (max-width: 768px){
        .mote_text{
            display: block;
        }
        .centent-zone_moto{
            width: 100% !important;
            margin-bottom: 50px;
            padding:50px !important;
        }
        .img-moto{
            width: 100% !important;
            position: static !important;
        }
    }
    @media screen and (max-width: 768px){
        p{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 560px){
    .our-servece .card-our-service {
        max-width: 100% !important;
        margin-bottom: 30px;
    }
}