.reserve{
    padding-top: 50px;
    padding-bottom: 50px;
    .card-reserve {
        background-color: crimson;
        border-radius: 20px;
        border: 2px solid BLACK;
        padding: 3% 3%;
    }
    h1 {
        text-align: center;
        padding: 16px 0px 60px 0px;
        line-height: 50px;
        color:white;

    }
    .all-cars {
        display: grid;
        grid-template-columns: repeat(auto-fit ,minmax(280px,1fr));  /* should learn this funtion */
        justify-items: center;
        .car {
            text-align: center;
            width: 180px;
            border-radius: 20px;
            margin-bottom: 20px;
            background-color: seashell;

            &:hover{
                box-shadow: 0px 13px 29px 5px black;
            }
            img{
                border-radius:20px ;
                object-fit: cover;
                max-width: 101%;
                position: relative;
                left: -1px;
                bottom: 1px;
            }
            .centent-card-car
            {
                h4{
                    color: black;
                    padding-top: 20px;
                }
                button {
                    margin: 15px 0px 20px 0px;
                    padding: 4px 20px;
                    background-color: crimson;
                    color: white;
                &:hover{
                    background-color: black;
                }
                }
            }
        }
    }

}


.fulltype{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    h1{
        padding-bottom: 40px;
    }
    .por_fulltype{
        padding: 7px 30px;
        background-color: black;
        color: white;
        margin: 0px 20px 0px 20px;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}

.jours{
    text-align: center;
    padding-bottom: 40px;
    h1{
        padding-bottom: 40px;
    }
    .chose_days{
        display: flex;
        justify-content: center;
        input{
            width: 65px;
            height: 32px;
            background-color: white;
            color: black;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            border: 2px solid black;
        }
        p{
            padding-right: 6px;
            font-weight: bold;
        }
    }

}

.validation_button{
    text-align: center;
    .btn-valide {
        background-color: black;
        color: white;
        cursor: pointer;
        text-align: center;
        padding: 8px 45px;
        font-size: 27px;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}

.teckit_achat{
    text-align: center;
    padding-top: 30px;
}

.zone_popup{
    position: relative;
    display: none;
}
.popup{
    position: absolute;
    border: 1px solid black;
    background-image: linear-gradient(#ff9966, #ff5e62);
    /* max-width: 100%; */
    text-align: center;
    padding: 1% 1%;
    border-radius: 18px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-bottom: 100px; */
    left: 42%;
    bottom: 1px;
    /* top: -5px; */
    h5{
        padding-top: 5px;
        font-size: 20px;
    }
    span{
        color: white;
    }
    .popop_btn{
        padding: 6px 20px;
        margin-top: 15px;
    }
    .accept_tecket{
        background-color: crimson;
        color: white;
    }
    .refuse_tecket{
        background-color: rgb(36, 247, 36);
        color: white;
    }
    .accept_tecket:hover , .refuse_tecket:hover{
        background-color: rgb(0, 0, 0);
        color: white;
    }
}
