.reserve{
    padding-top: 50px;
    .card-reserve {
        background-color: aqua;
        border-radius: 20px;
        border: 2px solid BLACK;
        padding: 3% 3%;
    }
    h1 {
        text-align: center;
        padding: 16px 0px 60px 0px;
        line-height: 50px

    }
    .all-cars {
        display: grid;
        grid-template-columns: repeat(auto-fit ,minmax(280px,1fr));  /* should learn this funtion */
        justify-items: center;
        .car {
            text-align: center;
            width: 180px;
            border-radius: 20px;
            margin-bottom: 20px;
            background-color: red;

            &:hover{
                box-shadow: 0px 13px 29px 5px black;
            }
            img{
                border-radius:20px ;
                object-fit: cover;
                max-width: 101%;
                position: relative;
                left: -1px;
                bottom: 1px;
            }
            .centent-card-car
            {
                h4{
                    color: white;
                }
                button {
                    margin: 15px 0px 20px 0px;
                    padding: 4px 20px;
                    background-color: black;
                    color: white;
                &:hover{
                    background-color: white;
                    color: black;
                }
                }
            }
        }
    }

}




button{
    margin-top: 50px;
}
.fulltype{
    padding-top: 50px;
}
.btn-valide{
    background-color: red;
    color: white;
    cursor: pointer;
}
.btn-valide:hover{
    background-color: black;
}