// .hero-reserve{
//     background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/backreserve.png);
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     padding-top:180px;
//     padding-bottom: 50px;
//     h1{
//         color: white;
//         max-width: 80%;
//         font-size: 45px;
//     }
//     button{
//         padding: 8px 18px;
//         border-radius: 20px;
//         color: white;
//         background-color: $primary_color_1;
//         margin-top: 25px;
//         &:hover{
//             background-color: white;
//             color: $primary_color_1;
//         }
//     }
//     @media screen and (max-width: 1024px) {
//         h1 {
//             color: white;
//             max-width: 100%;
//             font-size: 45px;
//         }
//       }
//       @media screen and (max-width: 560px) {
//           padding-top: 90px;
//         h1 {
//             font-size: 22px;
//         }
//       }
// }

.data-client{
    padding-top: 50px;
    h2{
        color: black;
        padding-bottom: 20px ;
    }
    .part-information{

        display: flex;
        justify-content: space-around;
        text-align: center;
        input{
            padding: 0px 20px;
        }
    }
    @media screen and (max-width: 560px) {
        .part-information{
            display: block;
            padding-bottom: 20PX;
        }
    }
}

.reserve{
    padding-top: 50px;
    padding-bottom: 50px;
    button {
        margin: 15px 0px 20px 0px;
        padding: 4px 20px;
        background-color: $primary_color_1;
        color: white;
    &:hover{
        background-color: black;
    }
    }
    .card-reserve {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(../img/background/location-de-voiture-senegal-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        border-radius: 20px;
        border: 2px solid BLACK;
        padding: 3% 3%;
    }
    h1 {
        text-align: center;
        padding: 16px 0px 60px 0px;
        line-height: 50px;
        color:white;

    }
    .all-cars {
        display: grid;
        grid-template-columns: repeat(auto-fit ,minmax(280px,1fr));  /* should learn this funtion */
        justify-items: center;
        .car {
                text-align: center;
                width: 247px;
                border-radius: 20px;
                margin-bottom: 20px;
                background-color: seashell;
                HEIGHT: 294px;

            &:hover{
                box-shadow: 0px 13px 29px 5px white;
            }
            img{
                border-radius:20px ;
                object-fit: cover;
                max-width: 101%;
                position: relative;
                left: -1px;
                bottom: 1px;
            }
            .centent-card-car
            {
                h4{
                    color: black;
                    padding-top: 20px;
                }
                button {
                    margin: 15px 0px 20px 0px;
                    padding: 4px 20px;
                    background-color: $primary_color_1;
                    color: white;
                &:hover{
                    background-color: black;
                }
                }
            }
        }
    }

}
.zone_type_fuil{
    display: flex;
    justify-content: space-evenly;
.type_fuel{
    border: 1px solid black;
    width: 13%;
    border-radius: 18px;
    height: 240px;
    text-align: center;
    background-color: seashell;

    img{
        border-radius: 20px;
        position: relative;
        border: 4px solid black;
    }
    &:hover{
        box-shadow: 0px 13px 29px 5px white;
    }
}
@media screen and (max-width: 1024px) {
    .type_fuel {
        height: 280px;
        width: 24%;
    }
  }

  @media screen and (max-width: 768px) {
    .type_fuel {
        height: 230px;
        width: 24%;
    }
  }
@media screen and (max-width: 560px) {
    display: block;
    text-align: -webkit-center;
    .type_fuel {
        width: 55%;
        margin-bottom: 20px;

    }
  }
  
}

.jours{
    text-align: center;
    padding-bottom: 40px;
    h1{
        padding-bottom: 40px;
    }
    .chose_days{
        display: flex;
        justify-content: center;
        input{
            width: 65px;
            height: 32px;
            background-color: white;
            color: black;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            border: 2px solid black;
            border-radius: 0px;
        }
        p{
            padding-right: 6px;
            font-weight: bold;
            color: white;
        }
    }

}

.validation_button{
    text-align: center;
    .btn-valide {
        background-color: $primary_color_1;
        color: white;
        cursor: pointer;
        text-align: center;
        padding: 8px 45px;
        font-size: 27px;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}


#zone_popup_off{
    position: relative;
    display: none;
}
#zone_popup_on{
    position: relative;
    display: flex;
}
.popup_card{
    z-index: 200;
    position: fixed;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0px -3px 49px 10px black;
    text-align: center;
    padding: 1% 1%;
    border-radius: 18px;
    left: 33%;
    bottom: 66px;
    width:500px ;
    h5{
        padding-top: 5px;
        font-size: 20px;
        color: $primary_color_1;
    }
    p{
        color: black;
        padding-bottom:5px ;
    }
    span{
        color:$primary_color_1;
    }
    .popop_btn{
        padding: 6px 20px;
        margin-top: 15px;
    }
    .accept_tecket{
        background-color: $primary_color_1;
        color: white;
    }
    .accept_tecket:hover{
        background-color: rgb(0, 0, 0);
        color: white;
    }
    .gift-img{
        max-width: 200px;
        margin-right: 55px;
    }
    .gift-img-sorry{
        width: 200px;
        margin-right: 0px;
    }
    @media screen and (max-width: 1280px) {
        left: 30%;
    }
    @media screen and (max-width: 1024px) {
        left: 26%;
    }
    @media screen and (max-width: 768px) {
        left: 16%;
    }
    @media screen and (max-width: 560px) {
        width: 240px;
        left: 33%;
        transform: translate(-50px, -50px);
        p{
            font-size:15px ;
        }
    }
}

.error_img_reserve{
    max-width: 20%;
}